<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/newProj.css') }}">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert" align="center" style="color: red">
            <p>{{message}}</p>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <p class="sign" align="center">New Project</p>
        <form method="POST" class="form1">

            <input type="text" name="name" align="center" placeholder="Project Name">
            <input type="text" name="scope" align="center" placeholder="Description">
            <input type="text" name="githubLink" placeholder="Github without https://">
            <input type="text" name="lang" placeholder="Language">
            <button align="center" type="submit" class="submit">
                Create Project
            </button>
            <p class="forgot" align="center"><a href="/profile">Cancel</p>
        </form>
    </div>
</body>

</html>