<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/profile.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">Hello, {{session['user']['name']}}</h5>
                        <p class="card-text">You have {{projects|length}} projects</p>
                        <p class="card-text">You have {{bugs|length}} unsolved bugs</p>
                        <a href="https://{{session['user']['githubProf']}}" target="_blank" class="btn btn-primary">Your
                            github</a>
                        <a href="logout" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
            <div class="col-9">

                <div class="card text-center" id="createNewProject" style="margin-bottom: 20px; margin-top: 20px;">
                    <div class="card-body">
                        <h5 class="card-title">Create a new project!</h5>
                        <p class="card-text">Add a new project to your list so you can track your bugs!</p>
                        <a href="/newProj" class="btn btn-primary">Create Project</a>
                    </div>
                </div>

                <div class="projects">



                    {% if ((projects|length) == 0) %}
                    <div class="card" class="project">

                        <div class="card-body">
                            <h5 class="card-title">You have no projects yet.</h5>
                            <p class="card-text">Create one now
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    {% endif %}

                    {% for x in range (projects| length -1, -1, -1) %}
                    <div class="card" class="project" style="margin-bottom: 20px;">
                        {% if ((projects[x]['finished']) == 0) %}
                        <div class="card-header bg-info text-white">
                            In progress
                        </div>
                        {% endif %}
                        {% if ((projects[x]['finished']) == 1) %}
                        <div class="card-header bg-success text-white">
                            Finished
                        </div>
                        {% endif %}



                        <div class="card-body">
                            <h4 class="card-title">{{projects[x]['name']}}</h4>
                            <p class="card-text">{{projects[x]['scope']}}
                            </p>
                            <a href="/project/{{projects[x]['id']}}" class="btn btn-primary">View</a>
                            <a href="/deleteProject/{{projects[x]['id']}}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    {% endfor %}






                </div>
            </div>
        </div>
    </div>












</body>

</html>